.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.outerContainer {
    padding: 20px 20px;
    min-width: 500px;
    min-height: 400px;
    border: 3px solid #61dafb;
    border-radius: 20px;
}

.display {

}

